<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.hslib.dao.LibDao" >

    <!--测试-->
    <select id="getBookLists" parameterType="java.util.Map" resultType="java.util.Map">
        (select '新书上架' as type_name,'N1' as type,a.* from hslib.hslib_book_show_v a order by a.update_time,a.booksets_id  desc limit 1,10)
        union all
        (select '全部图书' as type_name,'N2' as type,b.* from hslib.hslib_book_show_v b order by b.update_time,b.booksets_id  desc limit 2,20);
    </select>

    <select id="operateBook" parameterType="java.util.Map" statementType="CALLABLE" resultType="string">
        <![CDATA[
            {call p_CustomOrdered(#{book_id,mode=IN,jdbcType=NUMERIC},
                                #{person_id,mode=IN,jdbcType=NUMERIC},
                                #{order_type,mode=IN,jdbcType=NUMERIC},
                                #{p_error_type,mode=OUT,jdbcType=NUMERIC})}
        ]]>
    </select>

    <!--获取未借出书籍-->
    <select id="getNoBorrowBooks" parameterType="java.util.Map" resultType="java.util.Map">
        select * from hslib.hslib_books a where a.order_status &lt;=0
        <if test="bookset_id!=null">
            and a.booksets_id=#{bookset_id,jdbcType=NUMERIC}
        </if>
    </select>

    <!--新增评论-->
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId" parameterType="com.cx.hslib.bean.Comment" >
        insert into hslib.hslib_book_comment(
            person_id,
            book_id,
            comment_status,
            marks,
            comments,
            if_best
        )
        VALUES(
            #{personId,jdbcType=NUMERIC},
            #{bookId,jdbcType=NUMERIC},
            IFNULL(#{commentStatus,jdbcType=VARCHAR},' '),
            #{marks,jdbcType=VARCHAR},
            #{comments,jdbcType=VARCHAR},
            IFNULL(#{ifBest,jdbcType=VARCHAR},' ')
        )
    </insert>

    <!--获取我的图书订单信息-->
    <select id="getMyOrderInfo" parameterType="java.util.Map" resultType="java.util.Map">

        SELECT c.book_name,c.author,c.picture,d.book_id,a.order_id,b.line_id,
        b.order_status,b.comment_id,b.if_deleted, b.order_date,b.delay_status,
        b.delay_days,b.operatorpersion_id,DATEDIFF(now(),ifnull(b.return_date,now())) as days2,
        case
        when (b.order_status = '1' and b.is_last_line = 'Y' )then 'a'
        when b.order_status in ('2','3') and IFNULL(b.delay_status,'N')= 'N'then 'b'
        when b.order_status in ('-2','-3') and b.comment_id is null then 'c'
        when b.order_status in ('-2','-3') and b.comment_id is not null then 'd'
        when b.order_status in ('2','3') and b.delay_status = 'Y'then 'e'
        when b.order_status ='-1' and b.operatorpersion_id = -1 then 'f'
        when b.order_status ='-1' and IFNULL(b.operatorpersion_id,0) != -1 then 'g'
        else ' '
        end as line_statues
        from hslib.hslib_order_main a,hslib.hslib_order_line  b,hslib.hslib_booksets c,hslib.hslib_books d
        WHERE a.order_id = b.order_id
        and a.book_id = d.book_id
        and d.booksets_id = c.booksets_id
        and ((b.order_status in ('1','2','3') and b.is_last_line = 'Y') or (b.order_status in ('-1','-2','-3')))
        and IFNULL(b.if_deleted,'N')= 'N'
        <if test="person_id!=null">
            and a.person_id = #{person_id,jdbcType=NUMERIC}
        </if>
    </select>
</mapper>


